[Desktop Entry]
Comment=Window decorations inspired by macos button indicators
Name=MateriaGruvbox
X-KDE-PluginInfo-Author=filipeMCruz
X-KDE-PluginInfo-Category=Aurorae theme
X-KDE-PluginInfo-Email=filipeCruz@tuta.io
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Zerg
X-KDE-PluginInfo-Version=0.1
