#                                __ _                   
#                         ___ _ / /(_)___ _ ___ ___  ___
#                        / _ `// // // _ `/(_-</ -_)(_-<
#                        \_,_//_//_/ \_,_//___/\__//___/
#                                                       
#

alias code='/usr/share/vscodium-bin/codium'
alias mpd='mpd ~/.mpd/mpd.conf'
alias yolo='git commit -m "$(curl -s http://whatthecommit.com/index.txt)"'
alias :wq="echo You're not in vim dumbass!"

alias ...="../.. "
alias ....="../../.. "
alias .....="../../../.. "
alias ......="../../../../.. "
alias pesti="cd ~/Desktop/fac/3A2S/PESTI/project"

# so that alias can be sudo'ed
alias sudo='sudo '

# bonus
alias ggraph="git log --oneline --decorate --graph"
alias nps="npm "

# use exa instead of ls
alias ls="exa "
alias ll="exa -ll"
alias la="exa -la"
alias l="exa "

function take() {
  mkdir -p $@ && cd ${@:$#}
}
