#                                __ _                   
#                         ___ _ / /(_)___ _ ___ ___  ___
#                        / _ `// // // _ `/(_-</ -_)(_-<
#                        \_,_//_//_/ \_,_//___/\__//___/
#                                                       
#

alias code='/usr/share/vscodium-bin/codium'
alias mpd='mpd ~/.mpd/mpd.conf'
alias yolo='git commit -m "$(curl -s http://whatthecommit.com/index.txt)"'
alias :wq="echo You're not in vim dumbass!"

alias ...="../.. "
alias ....="../../.. "
alias .....="../../../.. "
alias ......="../../../../.. "

# so that alias can be sudo'ed
alias sudo='sudo '

# bonus
alias ggraph="git log --oneline --decorate --graph"
alias nps="npm "
alias yeet="yay -Rsn "
alias yeet-orfans="yeet $(yay -Qdt | cut -f 1 -d ' ')"

# use exa instead of ls
alias ls="exa "
alias ll="exa -ll"
alias la="exa -la"
alias ytop="ytop -c gruvbox "

alias -s md=code

alias -s svg=firefox

alias -s json=code

function show() {
  bat $(which $1)
}

function take() {
  mkdir -p $@ && cd ${@:$#}
}

function uuid() {
  cat /proc/sys/kernel/random/uuid
}
